{% extends "main.j2"%} 
    {% block title %}Products{% endblock %}

{% block content %}
<h1 class="center-align">Products</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddProductModal">Add
        Product</button>
    <div id="AddProductModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Add a New Product </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="ProductName">Enter a Product Name</label>
                    <input type="text" class="form-control" id="ProductName" placeholder="Product">
                    <label for="Price">Enter a Price</label>
                    <input type="number" class="form-control" id="Price">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Products ID</th>
            <th>Name</th>
            <th>Price</th>
            <th><button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#UpdateProductModal">Update</button></th>
            <th><button>Delete</button></th>
        </tr>
    </table>
    <div id="UpdateProductModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Update Product Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="ProductName">Enter a Product Name</label>
                    <input type="text" class="form-control" id="ProductName" placeholder="Product">
                    <label for="Price">Enter a Price</label>
                    <input type="number" class="form-control" id="Price">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update Product</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}